[Desktop Entry]
Version=1.0
Type=Application
Name=Echo Clear
Comment=Intelligent System Cleaner for Linux
Exec=EchoCleaner
Icon=EchoCleaner
Terminal=false
Categories=System;
Keywords=clean;cleaner;cache;disk;space;docker;
StartupNotify=true
